<input-container [config]="containerConfig">
  <p-autoComplete
    [inputId]="id"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [readonly]="readonly"
    [maxlength]="maxlength"
    [minLength]="minLength"
    [autoHighlight]="autoHighlight"
    [style]="style"
    [inputStyle]="inputStyle"
    [name]="name"
    [suggestions]="filteredItems"
    [size]="30"
    [field]="field"
    [multiple]="multiple"
    [forceSelection]="forceSelection"
    [unique]="unique"
    [dropdown]="showDropdown"
    [emptyMessage]="emptyMessage"
    [beforeAfter]="beforeAfterConfig"
    [(ngModel)]="value"
    (completeMethod)="filterItem($event)"
    (onDropdownClick)="_onDropdownClick($event)"
    (onBlur)="_onBlur()"
    (onFocus)="_onFocus()"
    (onSelect)="_onSelect()"
    (onUnselect)="_onUnSelect($event)"
    (onClear)="_onClear()"
    (onKeyUp)="_onKeyUp($event)"
  ></p-autoComplete>
</input-container>
