<input-container
  [config]="containerConfig"
  [labelAlign]="'top'"
>
  <textarea
    pInputTextarea
    [(ngModel)]="value"
    [ngStyle]="style"
    [rows]="rows"
    [cols]="cols"
    [autoResize]="autoResize"
    [placeholder]="placeholder"
    [id]="id"
    [disabled]="disabled"
    [name]="name"
    [readonly]="readonly"
    [placeholder]="placeholder"
    [maxlength]="maxlength"
    [beforeAfter]="beforeAfterConfig"
    (input)="_onInput()"
    (blur)="_onBlur()"
    (focus)="_onFocus()"
  ></textarea>
</input-container>
