textarea {
  direction: rtl;
  flex-grow: 1;
}

.after ::ng-deep after,
.before ::ng-deep before {
  display: flex;
}

.ui-inputgroup {
  flex-grow: 1;
  .ui-inputgroup-addon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  span.ui-widget,
  span.ui-widget input {
    height: 100%;
  }
}
