p-toast {
  ::ng-deep .ui-toast {
    &-close-icon {
      right: auto;
      left: 0.25em;

      &:hover {
        text-decoration: none;
      }
    }

    &-icon {
      left: auto;
      right: 0.5em;
      margin-top: 4px;
    }

    &-message-text-content {
      margin-left: 0;
      margin-right: 2.5em;
      padding: 0;
    }

    &-summary {
      padding: 0;
      margin-top: 0.5em;
    }

    &-detail {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}
