p-checkbox ::ng-deep .ui-chkbox-box.ui-state-active{
  background-color: red;
}

p-checkbox ::ng-deep .ui-chkbox-box.ui-state-active:hover{
  background-color: black;
}

p-checkbox ::ng-deep .ui-chkbox-box.ui-state-active:hover{
  background-color: black;
}
