<input
  *ngIf="!inline"
  pInputText
  autocomplete="false"
  theme="dp-material"
  [dpDayPicker]="config"
  [(ngModel)]="_date"
  [mode]="datePickerMode"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [readonly]="readonly"
  [style]="style"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [minTime]="minTime"
  [maxTime]="maxTime"
  (onChange)="_onChange($event)"
  (open)="_onOpen($event)"
  (close)="_onClose($event)"
  (onGoToCurrent)="_onGoToCurrent($event)"
  (onLeftNav)="_onLeftNav($event)"
  (onRightNav)="_onRightNav($event)"
  (focus)="_onFocus()"
  (blur)="_onBlur()"
/>
<i
  *ngIf="clearable && !inline"
  (click)="clearInput()"
  [ngClass]="{ disabled: disabled }"
  class="fal fa-1x fa-times  position-absolute border rounded-circle d-flex justify-content-center align-items-center bg-light text-muted"
></i>
<dp-day-time-calendar
  *ngIf="inline"
  [(ngModel)]="_date"
  dir="rtl"
  theme="dp-material"
></dp-day-time-calendar>
