:host {
  position: relative;
}

dp-date-picker ::ng-deep .dp-picker-input {
  width: auto !important;
}

input {
  direction: rtl;
  width: 100%;
  border: 1px solid #a6a6a6 !important;
  border-radius: 3px !important;
  &:not(:disabled):hover {
    border-color: #212121 !important;
  }
  &:focus {
    border-color: #007ad9 !important;
  }
}

i {
  width: 24px;
  height: 24px;
  z-index: 900;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  &:hover {
    color: red !important;
    cursor: pointer;
  }
  &.disabled {
    user-select: none;
    &:hover {
      color: gray !important;
      cursor: default;
    }
  }
}
