<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let item of dialogConfig.data">
    <div [ngSwitch]="item.type" class="mb-2">
      <input
        type="hidden"
        *ngSwitchCase="'hidden'"
        [formControlName]="item.formControlName"
      />
      <input-text
        *ngSwitchCase="'text'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [placeholder]="item.placeholder ? item.placeholder : ''"
        [readonly]="item.readonly"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
      ></input-text>
      <input-dropdown
        *ngSwitchCase="'dropdown'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [placeholder]="item.placeholder ? item.placeholder : ''"
        [readonly]="item.readonly"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
        [items]="item.dropdownItems"
      ></input-dropdown>
      <input-color-picker
        *ngSwitchCase="'color-picker'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [formControlName]="item.formControlName"
        [inline]="item.inline"
        [errors]="item.errors"
      ></input-color-picker>
    </div>
  </ng-container>
  <div class="d-flex justify-content-end">
    <btn
      label="ذخیره"
      icon="fa fa-plus"
      color="success"
      class="ml-2"
      type="submit"
    ></btn>
    <btn
      label="انصراف"
      icon="fa fa-times"
      color="danger"
      (click)="onCancel()"
    ></btn>
  </div>
</form>
