p-multiSelect {
  flex-grow: 1;
  display: flex;
  ::ng-deep .ui-multiselect {
    width: 100%;
    min-width: auto !important;

    &-header {
      display: flex;
      align-items: center;
      .ui-chkbox {
        margin-left: 0.5em;
        margin-right: 0 !important;
      }
    }

    &-panel {
      min-width: 12em !important;
      left: auto !important;
      right: 0 !important;
    }

    &-close {
      left: 0.375em;
      right: auto;
    }

    &-item {
      display: flex ;
      align-items: center;
      .ui-chkbox {
        margin: 0 0 0 0.5em !important;
      }
    }

    &-items > li:first-child {
      padding: 0 !important;
    }

    &-label {
      padding-left: 2.5em;
      padding-right: 0.429em;
    }

    &-item-group {
      span {
        font-weight: bold;
      }
      &:first-child {
        display: none;
      }
    }

    &.ui-multiselect-clearable .ui-dropmultiselectdown-label {
      padding-left: 4em;
      padding-right: 0.429em;
    }

    &-trigger {
      left: 0;
      right: auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &-clear-icon {
      left: 2em;
      right: auto;
    }

    p-multiselectitem li {
      text-align: right !important;
    }
  }
}
