<input-container
  [config]="containerConfig"
>
  <p-multiSelect
    [(ngModel)]="value"
    [options]="items"
    [optionLabel]="optionLabel"
    [filter]="hasFilter"
    [filterBy]="filterBy"
    [disabled]="disabled"
    [readonly]="readonly"
    [scrollHeight]="scrollHeight"
    [filterPlaceHolder]="filterPlaceHolder"
    [filterMatchMode]="filterMatchMode"
    [resetFilterOnHide]="resetFilterOnHide"
    [emptyFilterMessage]="emptyFilterMessage"
    [defaultLabel]="defaultLabel"
    [overlayVisible]="overlayVisible"
    [maxSelectedLabels]="maxSelectedLabels"
    [inputId]="id"
    [displaySelectedLabel]="displaySelectedLabel"
    [selectedItemsLabel]="selectedItemsLabel"
    [name]="name"
    [style]="style"
    [selectionLimit]="selectionLimit"
    [showToggleAll]="showToggleAll"
    [showHeader]="showHeader"
    (onClick)="_onClick($event)"
    (onChange)="_onChange($event)"
    (onFocus)="_onFocus($event)"
    (onBlur)="_onBlur($event)"
    (onPanelShow)="_onPanelShow($event)"
    (onPanelHide)="_onPanelHide($event)"
  ></p-multiSelect>
</input-container>
