<div class="container-fluid" *ngIf="tags && tags.length > 0">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <btn
            (click)="onAddNewTagClick()"
            label="افزودن"
            icon="fas fa-plus"
            class="mr-2"
            color="success"
          ></btn>
        </left>
        <right>
          <h1>تگ ها</h1>
        </right>
      </toolbar>
      <c-table
        [items]="tags"
        [columns]="columns"
        [actions]="actions"
        (actionClick)="onActionClick($event)"
      ></c-table>
    </div>
  </div>
</div>
