<input-container [config]="containerConfig">
  <p-spinner
    dir="rtl"
    [(ngModel)]="value"
    [max]="max"
    [min]="min"
    [inputStyle]="style"
    [name]="name"
    [step]="step"
    [placeholder]="placeholder"
    [maxlength]="maxlength"
    [size]="size"
    [disabled]="disabled"
    [readonly]="readonly"
    [inputId]="id"
    [thosandSeparator]="thosandSeparator"
    [decimalSeparator]="decimalSeparator"
    [beforeAfter]="{ type: 'icon', icon: 'home' }"
    (onBlur)="_onBlur()"
    (onFocus)="_onFocus()"
    (onChange)="_onChange()"
  >
  </p-spinner>
</input-container>
