<form class="form-row">
  <div class="d-flex flex-column col-lg-7">
    <prm-input-autocomplete
      placeholder="جستجوی تگ..."
      (onSelect)="onTagSelect($event)"
      [multiple]="false"
      [items]="tags"
      [beforeAfterConfig]="{
        after: {
          type: 'button',
          label: 'افزودن تگ',
          icon: 'plus',
          color: 'secondary'
        }
      }"
      (onAfterBtnClick)="addNewTag()"
    >
    </prm-input-autocomplete>
    <empty class="mt-3" *ngIf="selectedTags.length == 0"></empty>
    <tag
      *ngFor="let tag of selectedTags; let i = index"
      [ngClass]="{
        'mb-1': selectedTags.length != 0 && i != selectedTags.length - 1
      }"
      [text]="tag"
      (onDelete)="onDeleteTag(i)"
    ></tag>
  </div>
</form>
