<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <btn
            label="ذخیره"
            icon="fa fa-plus"
            color="success"
            class="ml-2"
            (click)="onSaveClick()"
          ></btn>
          <btn
            label="انصراف"
            icon="fa fa-times"
            color="danger"
            (click)="onCancelClick()"
          ></btn>
        </left>
        <right>
          <h1>{{ pageTitle }}</h1>
        </right>
      </toolbar>
      <p-tabView>
        <p-tabPanel header="اطلاعات شخصی">
          <form class="form-row" [formGroup]="personalForm">
            <div class="d-flex flex-column col-lg-7">
              <input-text
                formControlName="firstName"
                labelWidth="80"
                label="نام"
              >
              </input-text>

              <input-text
                formControlName="lastName"
                labelWidth="80"
                label="نام خانوادگی"
              >
              </input-text>

              <input-date-picker
                labelWidth="80"
                label="تاریخ تولد"
                formControlName="birthDate"
              ></input-date-picker>

              <input-text
                formControlName="nationalCode"
                labelWidth="80"
                label="کد ملی"
              >
              </input-text>

              <input-radio
                formControlName="gender"
                labelWidth="80"
                label="جنسیت"
                [linear]="true"
                [items]="genders"
              ></input-radio>
            </div>
          </form>
        </p-tabPanel>
        <p-tabPanel header="آدرس ها">
          <form class="form-row" [formGroup]="addressForm">
            <div class="d-flex flex-column col-lg-7">
              <input-dropdown
                formControlName="state"
                labelWidth="80"
                label="استان"
                [items]="states"
                optionLabel=""
              ></input-dropdown>
              <input-dropdown
                formControlName="city"
                labelWidth="80"
                label="شهر"
                [options]="cities"
              ></input-dropdown>
              <input-text
                formControlName="address"
                labelWidth="80"
                label="آدرس"
              >
              </input-text>
              <input-text
                formControlName="postalCode"
                labelWidth="80"
                label="کد پستی"
              >
              </input-text>
            </div>
          </form>
        </p-tabPanel>
        <p-tabPanel header="اطلاعات تماس">
          <form class="form-row" [formGroup]="contactForm">
            <div class="d-flex flex-column col-lg-7">
              <input-text
                maxlength="11"
                formControlName="mobile"
                labelWidth="80"
                label="شماره موبایل"
                [errors]="[{type:'minlength',message:'شماره همراه معتبر نیست'}]"
              >
              </input-text>
              <input-text
                maxlength="11"
                [errors]="[{type:'minlength',message:'شماره تلفن معتبر نیست'}]"
                formControlName="phone"
                labelWidth="80"
                label="شماره تلفن"
              >
              </input-text>
              <input-text
                [errors]="[{type:'email',message:'ایمیل معتبر نیست'}]"
                formControlName="email"
                labelWidth="80"
                label="ایمیل"
              >
              </input-text>
            </div>
          </form>
        </p-tabPanel>
        <p-tabPanel header="حساب کاربری">
          <form class="form-row" [formGroup]="accountForm">
            <div class="d-flex flex-column col-lg-7">
              <input-password
                formControlName="password"
                labelWidth="80"
                label="رمز عبور"
              >
              </input-password>
              <input-checkbox-single
                formControlName="subscription"
                labelWidth="80"
                label="اشتراک خبر نامه"
              ></input-checkbox-single>
            </div>
          </form>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
