<span
  [ngClass]="{
    'flex-column': labelPosition == 'top',
    'flex-row': labelPosition == 'side'
  }"
  class="d-flex flex-column"
>
  <label
    #fixLabel
    *ngIf="label && showLabel"
    [style.width.px]="labelWidth"
    [ngClass]="[
      labelPosition == 'side' ? 'ml-3 mb-0 align-self-sm-' + labelAlign : '',
      disabled ? 'text-muted' : ''
    ]"
    [for]="id"
  >
    {{ label }}
  </label>
  <div
    dir="ltr"
    class="ui-inputgroup ui-ltr justify-content-end flex-grow-1 align-self-stretch"
  >
    <ng-content></ng-content>
  </div>
</span>
<small *ngIf="hint" [ngStyle]="errorStyle" class="form-text text-muted">{{
  hint
}}</small>
<ng-container *ngFor="let error of errors; let i = index">
  <p-message
    class="d-inline-block mt-1"
    [style]="errorStyle"
    *ngIf="hasError(error)"
    severity="error"
    [text]="error.message"
  ></p-message>
</ng-container>
