<input-container [config]="containerConfig">
  <p-chips
    [allowDuplicate]="allowDuplicate"
    [placeholder]="placeholder"
    [inputId]="id"
    [(ngModel)]="value"
    [max]="max"
    [inputStyle]="inputStyle"
    [style]="style"
    [field]="field"
    [disabled]="disabled"
    [readonly]="readonly"
    [addOnTab]="addOnTab"
    [addOnBlur]="addOnBlur"
    [beforeAfter]="beforeAfterConfig"
    (onAdd)="_onAdd()"
    (onRemove)="_onRemove()"
    (onChipClick)="_onTagClick()"
    (onBlur)="__onBlur()"
    (onFocus)="_onFocus($event)"
  >
  </p-chips>
</input-container>
