<input-container
  [config]="containerConfig"
>
  <input
    [id]="id"
    [disabled]="disabled"
    [readonly]="readonly"
    [placeholder]="placeholder"
    [name]="name"
    type="password"
    class="flex-grow-1"
    pPassword
    [(ngModel)]="value"
    [promptLabel]="promptLabel"
    [weakLabel]="weakLabel"
    [mediumLabel]="mediumLabel"
    [strongLabel]="strongLabel"
    [feedback]="feedback"
    [showPassword]="showPassword"
    [beforeAfter]="{ type: 'icon', icon: 'home' }"
    (input)="_onInput()"
    (blur)="_onBlur()"
    (focus)="_onFocus()"
  />
</input-container>
