<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <prm-button
            label="ذخیره"
            icon="fa fa-plus"
            color="success"
            class="mr-2"
            (click)="onSaveClick()"
          ></prm-button>
          <prm-button
            label="انصراف"
            icon="fa fa-times"
            color="danger"
            (click)="onCancelClick()"
          ></prm-button>
        </left>
        <right>
          <h1>{{ pageTitle }}</h1>
        </right>
      </toolbar>

      <div class="row">
        <div class="col-lg-7" *ngIf="types$ != null">
          <prm-input-text
            label="نام مشخصه"
            labelWidth="150"
            [(ngModel)]="extraField.label"
          ></prm-input-text>
          <prm-input-dropdown
            label="نوع فیلد"
            labelWidth="150"
            [(ngModel)]="extraField.type"
            [items]="types$.result"
            [showClear]="false"
            (onChange)="onTypeChange($event)"
          >
          </prm-input-dropdown>
          <div *ngIf="extraField.type=='لیست'">
            <prm-input-text
              label="آیتم های لیست"
              labelWidth="150"
              [(ngModel)]="extraFieldListItem"
              [beforeAfterConfig]="{
                  after: {
                    type: 'button',
                    icon: 'plus',
                    color: 'primery'
                  }
                }"
              (onAfterBtnClick)="onAddListItemClick()"
            >
            </prm-input-text>
            <div class="list-items">
              <tag
                *ngFor="let item of this.extraField.listItems;let i = index"
                [text]="item"
                (onDelete)="onRemoveListItemClick(i)"
              >
              </tag>
            </div>
          </div>

          <div class="d-flex">
            <span class="ml-3 align-self-start">
              دسته بندی ها
            </span>
            <tree
              class="flex-grow-1 align-self-stretch"
              [items]="treeCategories"
              selectionMode="checkbox"
              [(selected)]="selectedCategories"
            ></tree>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
