<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <btn
            label="ذخیره"
            icon="fa fa-plus"
            color="success"
            class="ml-2"
            (click)="onSaveClick()"
          ></btn>
          <btn
            label="انصراف"
            icon="fa fa-times"
            color="danger"
            (click)="onCancelClick()"
          ></btn>
        </left>
        <right>
          <h1>{{ pageTitle }}</h1>
        </right>
      </toolbar>

      <div class="row">
        <div class="col-lg-7" *ngIf="types$ != null">
          <input-text
            label="نام مشخصه"
            labelWidth="150"
            [(ngModel)]="extraField.label"
          ></input-text>
          <input-dropdown
            label="نوع فیلد"
            labelWidth="150"
            [(ngModel)]="extraField.type"
            [items]="types$.result"
            [showClear]="false"
            (onChange)="onTypeChange($event)"
          >
          </input-dropdown>
          <div *ngIf="extraField.type=='لیست'">
            <input-text
              label="آیتم های لیست"
              labelWidth="150"
              [(ngModel)]="extraFieldListItem"
            >
              <after>
                <btn
                  icon="fa fa-plus"
                  color="primery"
                  (click)="onAddListItemClick()"
                >
                </btn>
              </after>
            </input-text>
            <div class="list-items">
              <tag
                *ngFor="let item of this.extraField.listItems;let i = index"
                [text]="item"
                (onDelete)="onRemoveListItemClick(i)"
              >
              </tag>
            </div>
          </div>

          <div class="d-flex">
            <span class="ml-3 align-self-start">
              دسته بندی ها
            </span>
            <tree
              class="flex-grow-1 align-self-stretch"
              [items]="treeCategories"
              selectionMode="checkbox"
              [(selected)]="selectedCategories"
            ></tree>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
