@import "./fonts/fonts.scss";
@import "bootstrap.scss";
@import "theme.scss";

html,
body {
  height: 100%;
  .ui-widget {
    font-family: IRANSans;
    [class|="ui"]:not([class*="pi"]):not([class*="fa"]) {
      font-family: inherit;
    }
  }
}
