<form class="form-row" [formGroup]="form">
  <div class="d-flex flex-column col-lg-7">
    <input-text formControlName="price" labelWidth="80" label="قیمت">
      <after>
        <span>تومان</span>
      </after>
    </input-text>
    <input-radio
      formControlName="discountType"
      labelWidth="80"
      label="تخفیف"
      [linear]="true"
      [items]="discountList"
      field="label"
    ></input-radio>
    <input-number
      formControlName="discountValue"
      [disabled]="
        form.get('discountType').value == null ||
        form.get('discountType').value == 'بدون تخفیف'
      "
      labelWidth="80"
      label="میزان تخفیف"
    >
      <after>
        <i
          class="fas fa-percent"
          *ngIf="form.get('discountType').value == 'درصدی'"
        ></i>
        <span *ngIf="form.get('discountType').value == 'ثابت'">تومان</span>
        <span
          *ngIf="
            form.get('discountType').value == null ||
            form.get('discountType').value == 'بدون تخفیف'
          "
          >--</span
        >
      </after>
    </input-number>
    <input-date-picker
      [disabled]="
        form.get('discountType').value == null ||
        form.get('discountType').value == 'بدون تخفیف'
      "
      formControlName="discountExpireDate"
      labelWidth="80"
      label="پایان تخفیف"
    ></input-date-picker>
  </div>
</form>
