p-table {
  ::ng-deep .ui-table {
    overflow: hidden;

    .selection {
      width: 3em;
    }

    .index {
      width: 4.5em;
      vertical-align: center;
      text-align: center;
    }

    .tools {
      vertical-align: center;
      text-align: center;
    }

    .ui-table-summary:empty {
      padding: 0 !important;
      border-bottom: 0;
    }

    .ui-table-caption {
      display: flex;
      align-items: center;
    }

    p-sorticon i {
      vertical-align: middle;
    }

    td[ng-reflect-ng-switch="boolean"] {
      text-align: center;
      i:not(.ui-sortable-column-icon) {
        font-size: 2em !important;
      }
    }

    .array-item {
      &:hover {
        cursor: pointer;
        background: #e3e3e3 !important;
      }
    }
  }
}
